/target/
/.DS_Store
**/.DS_Store
**/__pycache__/
**/*.pyc
/Minimum_Rectangular_Dissection_Third_Revision_Source_QA/
/Minimum_Rectangular_Dissection_Third_Revision_Source_QA.zip
/Minimum_Rectangular_Dissection_V4_1_Corrected_Source_QA/
/Minimum_Rectangular_Dissection_V4_1_Corrected_Source_QA.zip
